.card {
    width: 200px;
    min-width: 200px;
    border-radius: 6px;
    padding: 30px;
    margin: 10px;
    min-height: 200px;
    color: rgba(#000, .8);
    background-color: #FAFAFA;
    box-shadow: 3px 2px 10px rgba(#000, .3);
    text-align: center;
    display: flex;
    flex-direction: column;
    a {
        color: inherit;
        text-decoration: none;
    }

    p {
        text-decoration: underline;
        margin: 5px;
        display: inline-block;
        float: left;
        margin-left: 30px;
        margin-bottom: 10px;
        text-align: center;

        &:hover {
            cursor: pointer;
        }
    }

    header {
        img {
            width: 50px;
            height: 50px;
            margin: 0 10px;
            border-radius: 100%;
        }
        h3 {
            margin: 10px;
        }
    }

    footer {
        // justify-self: flex-end;
        margin-top: auto;
        font-size: 1.6em;
        // align-self: flex-end;
        .fab {
            margin: 0 10px;
        }
    }

    &.add-contact {
        background-color: rgba(#FFF, .030);
        box-shadow: none;
        border-color: rgba(#FFF, .050);
        border-style: solid;
        border-width: 5px;
        
        
        button {
            background-color: transparent;
            border: none;
            font-size: 1.3em;
            color: rgba(#FFF, .1);
            &:before{
                content: "+";
                display: block;
                margin-top: -10%;
                font-size: 5em;
            }
            &:hover {
                cursor: pointer;
            }
            &:focus {
                border: none;
                box-shadow: none;
                outline: none;
            }
        }

        &:hover {
            cursor: pointer;
        }
    }
}